@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&family=Work+Sans:ital,wght@1,500&display=swap');

 body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-color: papayawhip;
}

.container{
    max-width: 1440px;
    margin: auto;
}

.nav-title{
    font-weight: 700;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 18px;
}
nav ul li{
    margin: 15px;
}
/* banner style */
.banner{
    text-align: center;
}
.primary-btn{
    width: 180px;
    height: 64px;
    background-color:orange;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    border:none;
    margin:40px 0;

}
.header-title{
    font-weight: 700;
    font-size:64px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
/* images styles */
.imagebox{
    display: flex;
    gap:100px;
}
.images{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 15px;
    border-radius: 8px;
    margin-top: 85px;
}
.image-description{
    margin-top: 300px;

}
.image-description .quick{
    color:#727272;
}
.image-description .feature{
    color:#FF900E;

}
/* feature style */
.feat-title{
    font-weight: 700;
    font-size: 45px;
    color: black;
    border-left: 4px solid orange;
    padding-left: 15px;
}
.deskbox{

    box-shadow: darkcyan;
}
.featurebox{
    display: flex;
    margin-top: 90px;
    gap: 50px;

}
.featurebox img{
    width: 698px;
    height: 882px;

}
.yearbutton{
    width: 120px;
    height: 70px;
    background-color:orange;
    color:white;
    border-radius: 5px;
    border: none;
    position:relative;
    left:760px;

}
/* icons style */
.icon{
    border:1px solid orange;
    text-align: center;
    width: 241.83px;
    height: 150px;
    padding-top: 30px;

}
.icons{
    margin-top: 90px;
    display:flex;
    justify-content:space-evenly;
    text-align: center;
    
}
.icon:hover{
    background-color: cadetblue;
}

/* new section style */
.new-section{
    background-image: url('/images/new.jpg');
    height:400px ;
    margin:100px 0;

}
.new-title{
    font-weight: 700;
    font-size: 45px;
    padding: 30px;
    color: bisque;
}
.comfortp{
    color:bisque;
    font-weight: 400;
    font-size:x-large;
    margin-left: 20px;
}
.best{
    color:yellow;
    font-size: xx-large;
}


/* sponser */
.sponsors{
    text-align: center;
    margin-top: 70px;
    
}
.sponsor-title{
    font-weight: 700;
    font-size: 45px;

}
.sponser-logos{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

/* footer */
.footer{
    padding-top: 30px;
    text-align: center;
    margin: 100px 0;
    background-color:papayawhip;
    width: 1440px;
    height: 100px;

}
/* responsive */
@media screen and (max-width:576px){
    .container{
        width: 100%;
    }
    
    nav{
        flex-direction: column;

    }
 nav-title{
    text-align:center ;

 }
 .header-title{
    font-size: 30px;
 }
 .banner img{
    width: 100%;
 }
.images{
    grid-template-columns: repeat(1,1fr);
}
.imagebox{
    flex-direction: column;
}
.image-description{
    margin-top:0;
}
.featurebox{
    flex-direction: column;
}
.featurebox img{
    width:100%;
    height:600px;
}
.yearbutton{
    position:relative;
    left:1px;

}
.icon{
    height:130px;
    
}
.icons{
    flex-direction: column;
    gap:20px;
}
.sponser-logos{
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.footer{
    width: 100%;
    height: 100px;
}
}
@media screen and (min-width:577px) and (max-width:992){
    .banner img{
        width:100%;
    }
    nav{
        flex-direction: column;

    }
 nav-title{
    text-align:center ;

 }
 .header-title{
    font-size: 30px;
 }
 .banner img{
    width: 100%;
 }
.images{
    grid-template-columns: repeat(2,1fr);
}
.imagebox{
    flex-direction: column;
} 
    
}